@model ProductModel

<br />
<p>
    Product ID: @Model.Id
</p>

<br />

<div class="container">
    <div class="row">
        <div>

            <p>Product Monitor URL</p>
            <input type="text" name="searchURL" id="searchURL" />

        </div>
        <div class="col-md-2">
            <p>Out of Stock Key</p>
            <input type="text" name="searchTerm" id="searchTerm" />

            </div>



      

        <br />
            <input type="submit" value="&nbsp;&nbsp;Add Monitor / Update Stock  " name="checkStock" id="checkStock" />

            <br />

            <br />

            <br />

            <form>
                &nbsp;<input name="button3" type="button" class="submit" title="Go back one page" onclick="history.back()" value="&nbsp;&nbsp;&nbsp;&larr; Back   ">
                &nbsp;
                <input name="text" type="text" class="textbox" id="goput" style="font-size:12px; color:#0000FF; text-decoration:none;" title="Enter URL here, and click 'Go' (NOT ENTER)" onfocus="if(this.value=='http://'){this.value='http://'};" onblur="if(this.value==''){this.value='http://'};" value="http://" size="25" width="200">

                &nbsp;<input name="button2" type="button" onclick="document.getElementById('crawlerBrowser').src = document.getElementById('goput').value;" value="&nbsp;&nbsp;&nbsp;Go &rarr;  " title="Do not hit enter, but rather use the Go button" class="submit">
                @*<input name="button4" type="button" class="submit" title="Reset" onclick="document.url(start.htm)" value="Reset">*@
            </form>

        </div>
</div>







    <div class="row">
        @*<iframe src="http://www.goprocut.com" style="width:100%; height:400px;"> </iframe>*@
        <iframe src="http://bing.com" name="nameyouriframe" style="width:100%; height:400px;" id="crawlerBrowser">@*You need a frames enabled browser to use this feature!*@</iframe>
    </div>

    <br />
