@model ProductModel


<p>
    @Model.Id
</p>





<p>Search URL</p>
<input type="text" name="searchURL" id="searchURL" />



<p>Search Term</p>
<input type="text" name="searchTerm" id="searchTerm" />





<input type="submit" value="Check Supplier Stock Now" name="checkStock" id="checkStock" />

<br/>

<br />

<br />

<div class="row">
    <iframe src="http://www.goprocut.com" style="width:100%; height:400px;"> </iframe>
</div>

<br/>
